<link rel="stylesheet" href="/css/auth.css">

<div class="container-fluid default-top-padding">
	<div class="row mb-4">
		<div class="col-12">
			<p class="display-4 text-center" style="color: #8c00ff">
				Sign-In as?
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 px-auto">
			<a
				href="/auth/sign-in/teacher"
				class="p-4 ghost-link rise d-flex flex-column justify-content-center align-items-center mx-auto round"
			>
				<div class="pb-2">
					<img
						src="/images/svg/undraw_teacher_35j2.svg"
						style="width: 300px; height: 300px"
						alt="Teacher"
					/>
				</div>
				<div><h3>Teacher</h3></div>
			</a>
		</div>
		<div class="col-md-6 px-auto">
			<a
				href="/auth/sign-in/student"
				class="p-4 d-flex ghost-link rise flex-column justify-content-center align-items-center mx-auto round"
			>
				<div class="pb-2">
					<img
						src="/images/svg/undraw_Graduation_ktn0.svg"
						style="width: 300px; height: 300px"
						alt="Student"
					/>
				</div>
				<div><h3>Student</h3></div>
			</a>
		</div>
	</div>
</div>
