<div class="row py-4">
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-4 text-center" style="color: #ff0000">
						Interactive
					</h1>
					<hr />
					<p class="lead">
						For interactive meetings and webinars, screen sharing is
						vital. Teachup allows you to share your entire screen
						during an ongoing class. This makes it easy for the
						students on video conference to follow what the
						presenter is explaining.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_online_connection_6778.svg"
			alt="teaching"
		/>
	</div>
</div>
