<div class="row py-4">
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-2 text-center" style="color: #ff0000">
						Fast
					</h1>
					<hr />
					<p class="lead">
						Teachup uses Node.JS in the backend with highly scalable
						code and performs lightening fast database queries under
						the hood, which makes Teachup better than many other
						video conferencing Web applications.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_fast_loading_0lbh.svg"
			alt="teaching"
		/>
	</div>
</div>
