<div class="row py-4">
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_update_uxn2.svg"
			alt="teaching"
		/>
	</div>
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-4 text-center" style="color: #ff0000">
						Evolving
					</h1>
					<hr />
					<p class="lead">
						We keep a track of the quality we are providing to you
						and these statistics are analysed rigorously and
						improvements are done based on them. Customer
						satisfaction is our prime focus and that's why your
						feedback is significantly important to us.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
