<link rel="stylesheet" href="/css/help.css" />

<div class="container default-top-padding">
	<p class="display-4 text-center" style="color:#8c00ff">How can we help you?</p>
	<form class="form-inline justify-content-center align-items-center mb-2 mt-4">
		<div class="form-group mx-sm-3 mb-2 w-50">
			<input
				type="text"
				class="form-control w-100"
				placeholder="Ask a question"
			/>
		</div>
		<button type="submit" class="btn btn-primary mb-2">Search</button>
	</form>
	<p class="text-center" style="color:#ff6400;">
		You may also find your issue already mentioned in <a href="/menu/faqs">FAQs section</a>.
	</p>
	<div class="text-center">
		<img
			src="/images/svg/undraw_Helpful_sign_re_8ms5.svg"
			width="100%"
			style="opacity: 0.1"
			alt="help"
		/>
	</div>
</div>
