<!-- CUSTOM CSS -->
<link rel="stylesheet" href="css/home.css" />
<!-- GOOGLE FONT -->
<link
	href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
	rel="stylesheet"
/>

<div class="container-fluid default-top-padding">
	<div class="row">
		<div class="col-6">
			<div class="pt-5">
				<div class="jumbotron jumbotron-fluid bg-white">
					<div class="container">
						<h1 class="display-1" style="color: #8c00ff">
							Teachup
                        </h1>
                        <hr/>
						<p class="lead">
							We re-engineered the service that we built for
							secure classroom meetings, Teachup, to make it
							free and available for all the classrooms in India.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<img
				width="100%"
				src="images/svg/undraw_online_video_ivvq.svg"
				alt="teaching"
			/>
		</div>
	</div>
</div>
