.rise
{
    transition: box-shadow ease-in-out 0.1s;
    width: min-content;
}
.rise:hover
{
    box-shadow: 0px 0px 5px 1px rgb(226, 226, 226);
}
.grad-back
{
    background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
    min-height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box-rounded
{
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgb(206, 206, 206);
}
// SIGN IN STUDENT

// SIGN IN TEACHER

// SIGN UP STUDENT

// SIGN UP TEACHER
