<link rel="stylesheet" href="/css/auth.css" />

<div class="teacher-sign-up default-top-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1">
				<div class="box-rounded p-3 bg-white pb-5 mb-4">
					<div>
						<h3 class="text-center mt-3">
							<b
								style="
									color: #8c00ff;
									font-family: 'Bangers', cursive;
									letter-spacing: 3px;
									font-size: xx-large;
								"
								>Teacher Sign-Up</b
							>
						</h3>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<form>
									<div class="form-group my-4">
										<label for="namefield"><b>Name</b></label>
										<input type="text" class="form-control" id="namefield" />
									</div>
									<div class="form-group my-4">
										<label for="emailfield"><b>Email address</b></label>
										<input
											type="email"
											class="form-control"
											id="emailfield"
											aria-describedby="emailHelp"
										/>
										<small id="emailHelp" class="form-text text-muted"
											>We'll never share your email with anyone else.</small
										>
									</div>
									<fieldset class="form-group my-4">
										<div class="row">
											<legend class="col-form-label col-sm-2 pt-0">
												<b>Sex</b>
											</legend>
											<div class="col-sm-10">
												<div class="form-check">
													<input
														class="form-check-input"
														type="radio"
														name="sex"
														id="sexRadios1"
														value="male"
														checked
													/>
													<label
														class="form-check-label"
														for="gridRadios1"
													>
														Male
													</label>
												</div>
												<div class="form-check">
													<input
														class="form-check-input"
														type="radio"
														name="sex"
														id="sexRadios2"
														value="female"
													/>
													<label
														class="form-check-label"
														for="gridRadios2"
													>
														Female
													</label>
												</div>
												<div class="form-check disabled">
													<input
														class="form-check-input"
														type="radio"
														name="sex"
														id="sexRadios3"
														value="other"
														disabled
													/>
													<label
														class="form-check-label"
														for="gridRadios3"
													>
														Other
													</label>
												</div>
											</div>
										</div>
									</fieldset>
									<div class="form-group my-4">
										<label for="locationfield"><b>Location</b></label>
										<div class="form-row" id="locationfield">
											<div class="col">
												<input
													type="text"
													class="form-control"
													placeholder="State"
												/>
											</div>
											<div class="col">
												<input
													type="text"
													class="form-control"
													placeholder="City"
												/>
											</div>
											<div class="col">
												<input
													type="number"
													class="form-control"
													placeholder="Postal Code"
												/>
											</div>
										</div>
									</div>
									<div class="form-group my-4">
										<label for="schoolfield"><b>School / College</b></label>
										<select class="custom-select" id="schoolfield">
											<option selected>Open this select menu</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
									</div>
									<div class="form-group my-4">
										<div
											class="input-group"
											aria-describedby="profilePictureHelp"
										>
											<div class="input-group-prepend">
												<span
													class="input-group-text"
													id="inputGroupFileAddon01"
													><b>Profile Picture</b></span
												>
											</div>
											<div class="custom-file">
												<input
													type="file"
													class="custom-file-input"
													id="inputGroupFile01"
													aria-describedby="inputGroupFileAddon01"
												/>
												<label
													class="custom-file-label"
													for="inputGroupFile01"
													>Choose file
												</label>
											</div>
										</div>
										<small style="color: #8c00ff" id="profilePictureHelp"
											>This field is manadatory and CANNOT be changed in the
											future!</small
										>
									</div>
									<div class="form-group my-4">
										<label for="DOBField"><b>Date of Birth</b></label>
										<input type="date" class="form-control" id="DOBField" />
									</div>

									<div class="form-group my-4">
										<label for="contactnumberField"
											><b>Contact Number</b></label
										>
										<div class="form-row" id="contactnumberField">
											<div class="col">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span
															class="input-group-text"
															id="primaryContactNumber"
															>+91</span
														>
													</div>
													<input
														type="text"
														class="form-control"
														placeholder="Primary"
														aria-label="primary"
														aria-describedby="primary"
													/>
												</div>
											</div>
											<div class="col">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span
															class="input-group-text"
															id="basic-addon1"
															>+91</span
														>
													</div>
													<input
														type="text"
														class="form-control"
														placeholder="Secondary"
														aria-label="secondary"
														aria-describedby="secondary"
													/>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group my-4">
										<label for="passwordfield"><b>Password</b></label>
										<input
											type="password"
											class="form-control"
											id="passwordfield"
										/>
									</div>
									<div class="form-group my-4">
										<label for="confirmpasswordfield"
											><b>Confirm Password</b></label
										>
										<input
											type="password"
											class="form-control"
											id="confirmpasswordfield"
										/>
									</div>

									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
