<div
	id="open-nav"
	class="d-flex flex-row justify-content-center align-items-center text-light text-20"
>
	<i class="fa fa-bars" aria-hidden="true"></i>
</div>
<div
	id="open-messages"
	class="d-flex flex-row justify-content-center align-items-center text-light text-20"
>
	<i class="fa fa-commenting-o" aria-hidden="true"></i>
</div>

<div id="navbar">
	<div id="close-nav" class="py-3 px-4 w-25 text-20">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</div>
	<div class="py-3 px-5 w-100">Show participants</div>
	<div class="py-3 px-5 w-100">Leave Meeting</div>
	<div class="py-3 px-5 w-100">Present Now</div>
	<div class="py-3 px-5 w-100">Show participants</div>
	<div class="py-3 px-5 w-100">Full Screen</div>
	<div class="py-3 px-5 w-100">Change layout</div>
	<div class="py-3 px-5 w-100">Draw</div>
	<div class="py-3 px-5 w-100">Help</div>
	<div class="py-3 px-5 w-100">Report abuse</div>
</div>

<div id="navbar-messages">
	<div id="close-messages" class="py-3 px-4 w-25 text-20 ml-auto">
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
	<div class="py-3 px-4 w-100">
		<div><img src="/images/jpg/This-is-not-a-person-2-1.jpeg" alt="user-dp" /></div>
		<div>Joannah johnson</div>
	</div>
</div>

<script src="/js/classroom-navbar.js"></script>
