<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Teachup Classroom</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>
		<div id="screen">
			<div class="user-profile-pic"></div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
		<script src="/js/socket-client.js"></script>
	</body>
</html>
