<link rel="stylesheet" href="/css/auth.css" />

<div class="teacher-sign-up default-top-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1">
				<div class="box-rounded p-3 bg-white pb-5 mb-4">
					<div>
						<h3 class="text-center mt-3">
							<b
								style="
									color: #8c00ff;
									font-family: 'Bangers', cursive;
									letter-spacing: 3px;
									font-size: xx-large;
								"
								>Teacher Sign-In</b
							>
						</h3>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<form>
									<div class="form-group my-4">
										<label for="emailfield"><b>Email address</b></label>
										<input type="email" class="form-control" id="emailfield" />
									</div>

									<div class="form-group my-4">
										<label for="passwordfield"><b>Password</b></label>
										<input
											type="password"
											class="form-control"
											id="passwordfield"
										/>
									</div>

									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
