<div class="row py-4 dynamic">
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-4 text-center" style="color: #ff0000">
						Dynamic
					</h1>
					<hr />
					<p class="lead">
						Teachup allows users to draw on the presenter's screen
						only after being authorised by the presenter to do so
						which eleminates the possibility of nuisance being
						created in the class completely. We also provide various
						other tools to make the presentation more interactive.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_innovative_b409.svg"
			alt="teaching"
		/>
	</div>
</div>
