<div class="row py-4 teachup">
    <div
        class="col-7 d-flex flex-row justify-content-center align-items-center"
    >
        <div>
            <div class="jumbotron jumbotron-fluid bg-white mb-0">
                <div class="container">
                    <h1
                        class="display-1 text-center"
                        style="color: #8c00ff"
                    >
                        Teachup
                    </h1>
                    <hr />
                    <p class="lead">
                        Introducing the all new Hastle-Free, easy to use,
                        user-friendly and secure classroom conferencing app
                        specially built for teacher to create a offline
                        classroom like experience for the students over the
                        Internet.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div
        class="col-5 d-flex flex-row justify-content-center align-items-center"
    >
        <img
            width="100%"
            src="images/svg/undraw_online_video_ivvq.svg"
            alt="teaching"
        />
    </div>
</div>