<div class="row py-4 reveal">
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_attached_file_n4wm.svg"
			alt="teaching"
		/>
	</div>
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-4 text-center" style="color: #ff0000">
						Attachments
					</h1>
					<hr />
					<p class="lead">
						During the live presentations / classes, there is often
						a necessity for sharing documents like pdfs power-point
						presentations, reports e.t.c. Teachup provides a
						separate "attachments space" for the live collaborative
						sharing of these documents.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
