<div class="row py-4 chatting">
	<div
		class="col-5 d-flex flex-row justify-content-center align-items-center"
	>
		<img
			width="100%"
			src="images/svg/undraw_begin_chat_c6pj.svg"
			alt="teaching"
		/>
	</div>
	<div
		class="col-7 d-flex flex-row justify-content-center align-items-center"
	>
		<div>
			<div class="jumbotron jumbotron-fluid bg-white mb-0">
				<div class="container">
					<h1 class="display-4 text-center" style="color: #ff0000">
						Chatting
					</h1>
					<hr />
					<p class="lead">
						Teachup not only lets the students to chat with each
						other using texual messages/emojis e.t.c. It also allows
						them to share Multimedia messages like photos, videos
						and documents in a wide range of formats during the
						video conference.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
